# SPDX-License-Identifier: Apache-2.0

mainmenu "Classic protocol unit tests"

source "Kconfig.zephyr"

config NFC_CLASSIC_BLOCK_COUNT
	int "Maximum Classic blocks in data model"
	default 256
	range 64 256

config NFC_CLASSIC_TEST_TIER_POLLER
	bool "Build Classic poller tier tests"
	default n

config NFC_CLASSIC_TEST_TIER_LISTENER
	bool "Build Classic listener tier tests"
	default n

config NFC_CLASSIC_TEST_VARIANT_1K_7B
	bool "Build Classic 1K 7b UID poller variant tests"
	default n
	depends on NFC_CLASSIC_TEST_TIER_POLLER

config NFC_CLASSIC_TEST_VARIANT_MINI_4B
	bool "Build Classic Mini poller variant tests"
	default n
	depends on NFC_CLASSIC_TEST_TIER_POLLER

config NFC_CLASSIC_TEST_VARIANT_4K_4B
	bool "Build Classic 4K poller variant tests"
	default n
	depends on NFC_CLASSIC_TEST_TIER_POLLER

config NFC_CLASSIC_TEST_DETERMINISTIC_NR
	bool "Use fixed NR bytes in poller unit tests"
	default n
	depends on NFC_CLASSIC_TEST_TIER_POLLER || NFC_CLASSIC_TEST_TIER_LISTENER
